*{
box-sizing:border-box;
}

body{

margin:0;
padding:20px;
font-family:Arial, Helvetica, sans-serif;
background:#f3f3f3;

}

.container{

max-width:650px;
margin:auto;

}

h1{

text-align:center;

}

#reader{

width:100%;
background:white;
border-radius:15px;
overflow:hidden;

}

#result{

margin-top:20px;
padding:20px;
background:white;
border-radius:15px;
font-size:18px;

}

.success{

color:green;
font-weight:bold;

}

.error{

color:red;
font-weight:bold;

}
